<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428813460020-ggp9sdgk812r22h9jbegnqmtqif37dgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428813460020-ggp9sdgk812r22h9jbegnqmtqif37dgb</string>
	<key>API_KEY</key>
	<string>AIzaSyApt9QRl9GxZqGNXfbMhwlCqFT-fhzKrSk</string>
	<key>GCM_SENDER_ID</key>
	<string>428813460020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.safe-steps</string>
	<key>PROJECT_ID</key>
	<string>bag-sentry</string>
	<key>STORAGE_BUCKET</key>
	<string>bag-sentry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428813460020:ios:be44b1e773c4f83208e061</string>
</dict>
</plist>